.app-item-img {
    height: 167px;
}

a, a:visited, a:hover {
    text-decoration: none;
}

.ibird-focus span {
    cursor: pointer;
    display: inline-block;
    margin: 0 5px;
}

.ibird-focus span a {
    cursor: pointer;
    color: #fff;
}
